@page "/login"
@using ExpenseHound.Services

<h3>Login</h3>

<label>Username:</label>
<input @bind="Username" />
<br />
<br />
<label>Password:</label>
<input @bind="Password" type="password" />
<br />
<br />
<button class="form-control btn btn-primary" @onclick="HandleLogin">Login</button>

<p>@Message</p>

@code {
    private string Username { get; set; }
    private string Password { get; set; }
    private string Message { get; set; }


    [Inject] private AuthService AuthService { get; set; }


    private async Task HandleLogin()
    {
        if (AuthService.Authenticate(Username, Password))
        {
            string token = AuthService.GenerateJwtToken(Username);
            Message = $"Login successful! Token: {token}";
        }
        else
        {
            Message = "Invalid username or password.";
        }
    }
}
